*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(background.png);  
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
     
}


.navigation{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo{
    margin-top: 60px; 
    width: 250px;
    cursor: pointer;
    height: 250px;
    animation: movedown 1s linear 1;
    animation-delay: 1s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes movedown{
    0%{
        transform: translateY(-100px);
        visibility: visible;
    }
    100%{
        transform: translateY(0);
        visibility: visible;
    }
}

.profile{
    height: 25px;
    width: 25px;
}

.menu{
    padding-left: 62px;
    animation: movedown 1s linear 1;
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode: forwards;
}



.menu ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}

.menu ul li a{
    font-size: 20px;
    text-decoration: none;
    color:black
}

.content{
    margin-left: 200px;
    animation: moveright 1s linear 1;
    animation-delay: 3s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes moveright{
    0%{
        transform: translateX(-100px);
        visibility: visible;
    }
    100%{
        transform: translateX(0);
        visibility: visible;
    }
}

.content h1{
    font-size: 56px;
    font-weight: bolder;
    margin-bottom: 5px;
    margin-top: 100px;
    color: #232d60;
}

.content p{
    
    font-size: 20px;
    color: #055052;
    font-family: 'Times New Roman', Times, serif;
}

.job{
    height: 90%;
    position: absolute;
    margin-left: 580px;
    bottom: 0;
    animation: zoomin 1s linear 1;
    animation-delay: 4s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes zoomin{
    0%{
        transform: scale(0.5);
        visibility: visible;
    }
    100%{
        transform: scale(1);
        visibility: visible;
    }
}

.slide{
    padding: 330px;
}

.slide h1{
    font-size: 50px;
    font-weight: bolder;
    color:#1A374D;
}

.card1{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-gap: 2px;
    background: #B8E4F0;
    margin-bottom: 40px;
    border-radius:10px 10px 10px 10px;
}

.card1 img{
    width: 100%;
    height:400px;
    border-radius:10px ;
}

.card1 h3{
    font-size: 30px;
    font-weight: bolder;
    color:#064663;
}

.card1 p{
    font-size:20px;
    margin-top: 50px;
}

.card1 a{
    text-decoration: none;
    color: black;
}

.b1{
    position: relative;
    display:inline-block;
    padding: 10px 16px;
    border-radius: 40px;
    background: #fff;
    font-size:18px;
    margin: 10px 0;
    letter-spacing:2px;
    cursor: pointer;
    text-transform: uppercase;
    background:#6998AB;
    box-shadow: 0 0 10px rgba(0,0,0 ,0.1);
    transition-duration: 0.3s;
    transition-property: transform;
    margin-left:85px;
    margin-top:25px;
    
  }
  
.b1:hover{
    transform: scale(1.1);
  }

  .footer{
      margin-top: 2500px;
      padding:40px;
      background-color:#6998AB;
  }

  .footer p{
      text-align:center;
      font-size: 20px;
      color: black;
  }

